﻿@using TicTacToe.Web.Models
@model TicTacToe.Web.Models.IndexModel

<div>NextPlayer: @Model.NextPlayer</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="row game-row">
            <div class="col-md-3 game-cell" data-x="0" data-y="0">@(Model.Board.Cells[0][0] != Symbol.none ? Model.Board.Cells[0][0].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="0" data-y="1">@(Model.Board.Cells[0][1] != Symbol.none ? Model.Board.Cells[0][1].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="0" data-y="2">@(Model.Board.Cells[0][2] != Symbol.none ? Model.Board.Cells[0][2].ToString() : "")</div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="row game-row">
            <div class="col-md-3 game-cell" data-x="1" data-y="0">@(Model.Board.Cells[1][0] != Symbol.none ? Model.Board.Cells[1][0].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="1" data-y="1">@(Model.Board.Cells[1][1] != Symbol.none ? Model.Board.Cells[1][1].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="1" data-y="2">@(Model.Board.Cells[1][2] != Symbol.none ? Model.Board.Cells[1][2].ToString() : "")</div>
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="row game-row">
            <div class="col-md-3 game-cell" data-x="2" data-y="0">@(Model.Board.Cells[2][0] != Symbol.none ? Model.Board.Cells[2][0].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="2" data-y="1">@(Model.Board.Cells[2][1] != Symbol.none ? Model.Board.Cells[2][1].ToString() : "")</div>
            <div class="col-md-3 game-cell" data-x="2" data-y="2">@(Model.Board.Cells[2][2] != Symbol.none ? Model.Board.Cells[2][2].ToString() : "")</div>
        </div>
    </div>
</div>

<div>
    @for (int i = 0; i < 3; i++)
    {
        for (int j = 0; j < 3; j++)
        {
            @Html.HiddenFor(x => x.Board.Cells[i][j]);
        }
    }
</div>
<button type="submit" id="btn" class="hidden">ok</button>
@Html.HiddenFor(x => x.NextPlayer)


