﻿@model TicTacToe.Web.Models.IndexModel
@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "board" }))
{
    <div id="board">
        @Html.Partial("Board")
    </div>
}

<style>
    .game-row {
        height: 130px;
    }

    .game-cell {
        border: 1px solid blue;
        height: 130px;
    }
</style>

@section scripts{
    <script>
        $(function () {
            $(document.body).on('click', '.game-cell', function () {
                var x = $(this).attr('data-x');
                var y = $(this).attr('data-y');

                console.log("x : " + x + " y: " + y);
                var name = "Board.Cells[" + x + "][" + y + "]";

                var hiddenF = "input[name='" + name + "']";

                if ($(hiddenF).val() == 'none') {
                    var nextSymbol = $("#NextPlayer").val();
                    $(hiddenF).val(nextSymbol);
                    $(this).html(nextSymbol);

                    $("#btn").trigger("click");
                }
            });
        });
    </script>
}